.bar {
    background: #c0c2ce;
    padding: 6px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.title {
    font-weight: bold;
}

.ready {
    float: right;
    cursor: pointer;
}

.accepted {
    float: right;
    margin-right: 50px;
    cursor: pointer;
}
